body {
  background: linear-gradient(to right, #e0c3fc, #8ec5fc);
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  color: #333;
  margin: 0;
  padding: 0;
}

.game-container {
  margin-top: 50px;
  background: white;
  border-radius: 12px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.mode-selection select,
#userGuess,
button {
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

button {
  background-color: #6a11cb;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2575fc;
}

.hidden {
  display: none;
}



@keyframes popIn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* .popup {
position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  animation: popIn 0.4s ease;
} */
